<div class="list_all p-4">
  <h1>My favorites</h1>


    <% @list.bookmarks.each do |bookmark| %>
      <p><%= bookmark.comment %></p>
      <p><%= bookmark.movie.id[:name] %></p>
    <% end %>





  <button><%= link_to "Add a new Bookmark", new_list_bookmark_path(@list) %></button>
  <button><%= link_to "Back to Lists", lists_path %></button>

</div>
 <%= console %>
